* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    display: flex;
    align-items: left;
    justify-content: center;
}

.title-content {
    margin-top: 30vh;
    margin-left: 15vw;
}

.title-content h1 {
    font-size: 36px;
    color: rgb(95, 125, 168);
}