* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 22vw;
    margin-top: 35vh;
}

.subtext {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 26vw;
    margin-top: -3.3vh;
}

.titulo h1 {
    color: rgb(105, 128, 255);
    font-weight: bold;
    font-size: 48px;
}

.subtext p {
    color: rgb(33, 46, 92);
    font-weight: 500;
    font-size: 22px;
}

.oprah {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10vw;
    margin-top: -38vh;

}

.ophome {
    max-width: 550px;
    border-radius: 13px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.3s ease-in;
    margin-top: 5vh;
}


.home-content   {
    max-width: 50vw;
    color: #091d29;
    text-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: -1vh;
}

.home-content p {
    font-size: 19px;
    text-align: left;
    margin-left: 22vw;
    font-weight: 500;
    color: rgb(48, 60, 106);
}

.op1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.op1 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(105, 128, 255);
}

.op1 p {
    max-width: 80vw;
    margin-top: 3vh;
    font-size: 20px;
    text-indent: 8vw;
}

.op2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.op2 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(105, 128, 255);
}

.op2 p {
    max-width: 80vw;
    margin-top: 3vh;
    font-size: 20px;
    text-indent: 8vw;
}

.op3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.op3 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(105, 128, 255);
}

.op3 p {
    max-width: 80vw;
    margin-top: 3vh;
    font-size: 20px;
    text-indent: 8vw;
}

.op4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.op4 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(105, 128, 255);
}

.op4 p {
    max-width: 80vw;
    margin-top: 3vh;
    font-size: 20px;
    text-indent: 8vw;
}

.op5 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.op5 h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: rgb(105, 128, 255);
}

.op5 p {
    max-width: 80vw;
    margin-top: 3vh;
    font-size: 20px;
    text-indent: 8vw;
}

.opcrianca {
    max-width: 550px;
    margin-top: 5vh;
    margin-left: 20vw;
    box-shadow: #64646f33 0px 7px 29px 0px;
}

.opvideo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

.opfilme {
    max-width: 550px;
    margin-top: 5vh;
    margin-left: 20vw;
    box-shadow: #64646f33 0px 7px 29px 0px;
}
