@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1244%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1245%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L283.7 0L0 108.11z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 108.11L283.7 0L513.85 0L0 548.33z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 548.33L513.85 0L601.38 0L0 585.5300000000001z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 585.5300000000001L601.38 0L1537.5 0L0 910.6700000000001z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1980 1080L1341.49 1080L1980 1024.62z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1980 1024.62L1341.49 1080L741.3 1080L1980 963.9999999999999z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1980 964L741.3 1080L293.06999999999994 1080L1980 757.71z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1980 757.71L293.06999999999994 1080L256.13999999999993 1080L1980 598.97z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1244'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='1127.7' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1245'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 5vh;
    transition: 0.3s;
    margin-left: 5vw;
}

.texto {
    color: #15aaff;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Roboto';
  }

.subtitulo {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5vw;
    font-family: 'Roboto';
    color: #122c39;
    font-weight: 500;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    margin-left: 10vw;
}

.container .card {
    position: relative;
    width: 280px;
    height: 400px;
    margin: 30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 3px;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                       rgba(0, 0, 0, 0.5)), url("../img/slide6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .content   {
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
    margin-top: 50px;
}

.container .card:hover .content {
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h2 {
    position: absolute;
    top: -80px;
    right: 30px;
    font-size: 8em;
    color: rgba(255, 255, 255, 0.2);
    pointer-events: none;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #39a1d5;
    z-index: 1;
}

.container .card .content p {
    font-size: 1em;
    font-weight: 400;
    color: white;
}

.container .card .content a {
    position: relative;
    display: inline-block;
    color: black;
    padding: 8px 20px;
    margin-top: 15px;
    background: #39a1d5;
    color: white;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 5px 15px rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Poppins';
}

.container .card .content a:hover {
    background-color: white;
    color: #39a1d5;
    box-shadow: white 0px 0px 17px;
}

