@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1980' height='1080' preserveAspectRatio='none' viewBox='0 0 1980 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1244%26quot%3b)' fill='none'%3e%3crect width='1980' height='1080' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient1245%26quot%3b)'%3e%3c/rect%3e%3cpath d='M0 0L283.7 0L0 108.11z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M0 108.11L283.7 0L513.85 0L0 548.33z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M0 548.33L513.85 0L601.38 0L0 585.5300000000001z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M0 585.5300000000001L601.38 0L1537.5 0L0 910.6700000000001z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M1980 1080L1341.49 1080L1980 1024.62z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M1980 1024.62L1341.49 1080L741.3 1080L1980 963.9999999999999z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M1980 964L741.3 1080L293.06999999999994 1080L1980 757.71z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M1980 757.71L293.06999999999994 1080L256.13999999999993 1080L1980 598.97z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1244'%3e%3crect width='1980' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='1127.7' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1245'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.titulo {
    display: flex;
    justify-content: left;
    align-items: center;
}

h1 {
    margin-top: 20vh;
    margin-left: 20vw;
    font-size: 52px;
    color: #071393;
    filter: drop-shadow(3px 3px rgb(204, 204, 204));
}

.texto {
    display: flex;
    justify-content: left;
    align-items: center;
}

p {
    max-width: 450px;
    margin-left: 20vw;
}

.boneco {
    position: absolute;
    max-width: 600px;
    right: 5vw;
    top: 10vh;
    filter: drop-shadow(3px 6px #04061d);
  }

  @media screen and (max-width: 1000px) {
    .boneco {
      display: none;
    }
  }





